<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parentsupportapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParentSupportApp">
        <activity
            android:name=".HistoryActivity"
            android:exported="true"
            android:parentActivityName=".CoinFlipActivity"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar"/>
        <activity
            android:name=".childConfig.RemoveActivity"
            android:exported="true" />
        <activity
            android:name=".childConfig.ViewActivity"
            android:exported="true" />
        <activity
            android:name=".childConfig.AddChildActivity"
            android:exported="true" />
        <activity
            android:name=".ChildConfigActivity"
            android:exported="true" />
        <activity
            android:name=".CoinFlipActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar"/>
        <activity
            android:name=".TimerActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>