<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parentsupportapp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParentSupportApp">
        <activity
            android:name=".childConfig.EditRemoveChildActivity"
            android:exported="true"
            android:parentActivityName=".childConfig.ViewActivity"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar" />
        <activity
            android:name=".tasksConfig.ViewTaskActivity"
            android:exported="false"
            android:parentActivityName=".TasksActivity"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar" />
        <activity
            android:name=".tasksConfig.RemoveTaskActivity"
            android:parentActivityName=".TasksActivity"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".tasksConfig.EditTaskActivity"
            android:parentActivityName=".TasksActivity"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".tasksConfig.AddTaskActivity"
            android:parentActivityName=".TasksActivity"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".TasksActivity"
            android:exported="false"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".HistoryActivity"
            android:exported="true"
            android:label="@string/history_title"
            android:parentActivityName=".CoinFlipActivity"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar" />
        <activity
            android:name=".childConfig.ViewActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".childConfig.AddChildActivity"
            android:exported="true"
            android:parentActivityName=".childConfig.ViewActivity"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar" />
        <activity
            android:name=".CoinFlipActivity"
            android:exported="true"
            android:label="@string/history_title"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar"/>
        <activity
            android:name=".TimerActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar" />
        <activity
            android:name=".HelpActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ParentSupportApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".TimerBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>